<?xml version="1.0" encoding="UTF-8"?>
<!-- 环境配置 -->
<configs>

	<driverType>chrome</driverType>
	<driverPath>E:\\peizhichajian\\chromedriver.exe</driverPath>
	<screenshotsPath>./image/"+GetDataTime.getNowDateTime()
	</screenshotsPath>
	<retryMaxCount>3</retryMaxCount>
	<IP></IP>
	<url>jdbc:mysql://数据库IP/表</url>
	<user>账户</user>
	<password>密码</password>
	
</configs>