<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="自动化测试">
	<listeners>
		<listener class-name="utils.Mylistener" />
	</listeners>
	<parameters>
		<parameter name="" value="" />
		

	</parameters>

	<test name="测试">
		<classes>
			<class name="">
			</class>
		</classes>
	</test>
	
	

</suite>