<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="易贷自动化测试">
	<listeners>
		<listener class-name="com.msyidai.utils.Mylistener" />
	</listeners>
	<parameters>
		<parameter name="CompanyLoanassetId" value="ZC_20180115_175832" />
		<parameter name="CompanyLoanamount" value="5000" />
		<parameter name="CompanyLoanrate" value="12" />
		<parameter name="CompanyLoantransType" value="转让" />
		<parameter name="personLoanassetId" value="ZC_20180115_175832" />
		<parameter name="personLoanamount" value="5000" />
		<parameter name="personLoanrate" value="12" />
		<parameter name="foreignLoanassetId" value="ZC_20180115_175832" />
		<parameter name="foreignLoanamount" value="1000" />
		<parameter name="foreignLoanrate" value="12" />

	</parameters>

	<test name="企业标的录取测试">
		<classes>
			<class name="com.msyidai.cases.CompanyLoanInput">
			</class>
		</classes>
	</test>
	<test name="个人标的录取测试">
		<classes>
			<class name="com.msyidai.cases.PersonLoanInputTest">
			</class>
		</classes>
	</test>
	<test name="出国金融标的录取测试">
		<classes>
			<class name="com.msyidai.cases.ForeignFinancialLoanInput">
			</class>
		</classes>
	</test>
	<!-- <test name="企业标的还款标的录取测试">
		<classes>
			<class name="com.msyidai.cases.CompanyLoanInputRepay">
			</class>
		</classes>
	</test> -->
	

</suite>